#project-view {
	img {
		margin-bottom: 1rem;
		width: 550px;
	}
	#technologies {
		font-size: 1.5rem;
		justify-content: flex-start;
		display: flex;

		span {
		    margin-right: .5rem;
		    font-weight: 600;
		}
	}
	#repositories {
		margin-top: 1.5rem;

		span {
			font-weight: bold;
			margin-right: 1rem;
		}

		div {
			display: flex;
			flex-direction: column;
		}
	}
	#description {
		margin-top: 1.5rem;
	}
}
