#content {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 4rem;

	#line1 {
		font-size: 2rem;
	}

	#line2 {
		font-size: 1.2rem;
		margin-top: 1rem;
	}
}