@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@import "variables";

body {
    font-family: 'Roboto', sans-serif;
    background-color: #EDEDED;
	font-size: 17px;
	line-height: 22px;
    color: #3C3C3C;
	margin: 0;
}

a {
	text-decoration: none;
    color: #3C3C3C !important;
}

a:hover {
	text-decoration: underline;
}

#leftcolumn:after {
    background: #F0F0F0;
    width: 0.1rem;
    content: "";
    height: 100%;
    right: 0;
    top: 0;
    position: absolute;
}

a.active {
    border-radius: .4rem;
    background-color: #663299;
    display: inline-block;
    color: #FFF !important;
    padding: 0;
}

a.active:hover {
    cursor: default;
    color: #FFF !important;
    text-decoration: none !important;
}

.nav {
    display: inline-block !important;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
