#nav-menu {
	margin-bottom: 3rem;
	padding-left: .2rem;
	
	a {
    	display: inline-block;
	    margin: .8rem 0;
	    padding: .3rem;
	    font-size: 1.3rem;
	}
	a:hover:not(.active) {
		text-decoration: underline;
	}
}

@media all and (max-width: 575px) {
    #nav-menu {
        flex-direction: row !important;
        justify-content: space-evenly;
    }
}
